html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.about {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#0c0c1d), to(#111132));
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  height: 100%;
}
.about .wrapper {
  max-width: 1366px;
  height: 100%;
  margin: auto;
}
.about .wrapper .textcontainer {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  margin-left: 50%;
}
@media (max-width: 738px) {
  .about .wrapper .textcontainer {
    height: 50%;
    width: 100%;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: auto;
  }
}
.about .wrapper .textcontainer h2 {
  font-size: 75px;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
}
@media (max-width: 738px) {
  .about .wrapper .textcontainer h2 {
    font-size: 40px;
    margin-top: 35px;
  }
}
.about .wrapper .textcontainer h1 {
  font-size: 20px;
  text-transform: capitalize;
}
@media (max-width: 738px) {
  .about .wrapper .textcontainer h1 {
    font-size: 16px;
    line-height: 40px;
    width: 90%;
  }
}
.about .wrapper .textcontainer .buttons {
  width: 683px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
@media (max-width: 738px) {
  .about .wrapper .textcontainer .buttons {
    width: 283px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.about .wrapper .textcontainer .buttons button {
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  margin: 20px 0;
  font-weight: 300;
}
@media (max-width: 738px) {
  .about .wrapper .textcontainer .buttons button {
    padding: 10px;
  }
}
.about .imageContainer {
  height: 70%;
  position: absolute;
  top: 15%;
  border-radius: 100px;
}
.about .imageContainer .imageContainer img {
  border-radius: 100px;
}
@media (max-width: 738px) {
  .about .imageContainer {
    height: 50%;
    width: 100%;
    top: unset;
    bottom: 0;
    margin-left: auto;
  }
}
.about .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .slidingTextContainer {
  position: absolute;
  font-size: 50vh;
  bottom: -120px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.0352941176);
  width: 50%;
}