html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.portfolio {
  position: relative;
}
.portfolio .progress {
  position: sticky;
  top: 0;
  left: 0rem;
  padding-top: 50px;
  text-align: center;
  color: orange;
  font-size: 36px;
}
@media (max-width: 738px) {
  .portfolio .progress {
    font-size: 20px;
    top: 700px;
  }
}
.portfolio .progress .progressBar {
  height: 10px;
  background-color: white;
}
@media (max-width: 738px) {
  .portfolio .progress .progressBar {
    height: 5px;
  }
}
.portfolio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.portfolio .container .wrapper {
  max-width: 1366px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
@media (max-width: 738px) {
  .portfolio .container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.portfolio .container .wrapper .imagecontainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50%;
}
@media (max-width: 738px) {
  .portfolio .container .wrapper .imagecontainer {
    width: 100%;
    max-height: 300px;
  }
}
.portfolio .container .wrapper .imagecontainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 738px) {
  .portfolio .container .wrapper .imagecontainer img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.portfolio .container .wrapper .textcontainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 738px) {
  .portfolio .container .wrapper .textcontainer {
    -webkit-transform: none !important;
            transform: none !important;
    padding: 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.portfolio .container .wrapper .textcontainer h2 {
  font-size: 72px;
}
@media (max-width: 738px) {
  .portfolio .container .wrapper .textcontainer h2 {
    font-size: 36px;
  }
}
.portfolio .container .wrapper .textcontainer p {
  color: gray;
  font-size: 20px;
}
@media (max-width: 738px) {
  .portfolio .container .wrapper .textcontainer p {
    font-size: 16px;
  }
}
.portfolio .container .wrapper .textcontainer button {
  background-color: orange;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}
@media (max-width: 738px) {
  .portfolio .container .wrapper .textcontainer button {
    margin-top: -5px;
  }
}